body{
    margin: 0;
    font-family: 'Commissioner', sans-serif;

    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 70px;
    font-weight: bolder;
    color: deeppink;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 5%;
}
.half-width img{
    width: 100%;
}
.header{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 250px;
}
.link-button{
    text-decoration: none;
    background-color: deeppink;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.biography{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.one-third-width{
    width: 26%;
    float: left;
    padding-left: 5%;
    margin-left: 1%;
    margin-right: 1%;
}
.one-third-width img{
    width: 100%;
}
.latest-work{
    text-align: center;
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;

}
.Color{
    color: gray;
}
.footer{
    background-image: url(images/footer-bg.png);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}
span{
    font-size: 10px;
}
.message{
    background-color: deeppink;
    padding: 30px 40px;
    width: 50%;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    color: white;
    font-weight: bold;

}
footer{
    text-align: center;
}